body {
    background: 0 0;
}
html {
    height: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    width: 100%;
    height: 100%;
}

.fullHeight {
    height: 100% !important;
}

.fullWidth {
    width: 100% !important;
}

.d-none {
    display: none !important;
}

.cursorPointer {
    cursor: pointer;
}

.bold {
    font-weight: 500;
}

.centerAlign {
    text-align: center;
}

.rightAlign {
    text-align: right;
}

.overflow {
    overflow: auto;
}

.flex-col {
    flex-flow: column !important;
}

.flex-wrap {
    flex-wrap: wrap!important;
}

.flex-g-1 {
    flex-grow: 1 !important;
}

.centerIt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    border-top: 1px solid #dfdfdf;;
}